*.o
*.ko
*.cmd
modules.order
modules.builtin
arch/*
*.mod.c
*.d
.tmp_*

.config.old
.version
System.map
kernel/bounds.s
lib/lib.a
drivers/firmware/efi/libstub/lib.a
scripts/mod/devicetable-offsets.s
vmlinux
vmlinux-gdb.py

Module.symvers
include/config/auto.conf
include/config/tristate.conf
include/generated/autoconf.h
include/generated/compile.h
include/config/scsi/nulldev.h

